@import "tailwindcss";

@theme {
  --color-beige-dark: #c5c2bd;
  --color-beige: #dcdbd8;
  --color-screen: #f5f3ef;
  --color-ink: #373633;
  --color-stone: #b2afa7;
  --color-darkstone: #73716a;
}

#root {
  @apply bg-beige-dark text-ink min-h-screen flex items-center justify-center;
  background-image: url("/noise.png");
  background-size: 100px 100px;
  background-blend-mode: multiply;
}

.btn {
  @apply bg-beige text-ink rounded-md px-5 py-2 font-mono font-semibold shadow-sm shadow-ink transition-all duration-150
    hover:bg-screen hover:shadow-[0_2px_0_0_rgba(134,131,123,0.18),0_1.5px_8px_0_rgba(83,81,73,0.22)] active:translate-y-0.5 active:shadow-[0_1.5px_0_0_rgba(134,131,123,0.12),0_0.5px_4px_0_rgba(83,81,73,0.18)];
  background: linear-gradient(
    to bottom,
    var(--color-screen) 0%,
    var(--color-beige) 100%
  );
}

.btn:disabled,
.btn[aria-disabled="true"] {
  @apply opacity-60 cursor-not-allowed hover:shadow-sm;
}

.panel {
  @apply bg-beige text-ink rounded-lg shadow-sm shadow-darkstone p-6 border-t-1 border-screen;
  transition: background-color 0.5s ease-in-out;
}
