@import "tailwindcss";

@theme {
  --color-beige-dark: #c5c2bd;
  --color-beige: #dcdbd8;
  --color-screen: #f5f3ef;
  --color-ink: #373633;
  --color-stone: #b2afa7;
  --color-darkstone: #73716a;
}

#root {
  @apply bg-beige-dark text-ink min-h-screen flex items-center justify-center relative;
  background-image: radial-gradient(
      ellipse 100% 100% at 50% 0%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.15) 10%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.02) 90%,
      rgba(0, 0, 0, 0.04) 100%
    ),
    url("/noise.png");
  background-size: 100% 100%, 200px 200px;
  background-blend-mode: overlay, multiply;
  box-shadow: inset 0 1px 12px rgba(255, 255, 255, 0.3),
    inset 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  @apply bg-beige text-ink rounded-md px-5 py-2 font-mono font-semibold relative transition-all duration-75;
  background: linear-gradient(
    to bottom,
    var(--color-screen) 0%,
    var(--color-beige) 100%
  );
  box-shadow: 0 1px 1px rgba(55, 54, 51, 0.2), 0 2px 2px rgba(55, 54, 51, 0.15),
    0 4px 4px rgba(55, 54, 51, 0.1), 0 6px 2px rgba(55, 54, 51, 0.1),
    0 3px 0 rgba(255, 255, 255, 0.7), inset 0 -1px 1px rgba(55, 54, 51, 0.05),
    inset 0 1px 2px rgba(255, 255, 255, 0.9);
  transform: translateY(-1px);
}

.btn:active:not(:disabled) {
  transform: translateY(1px);
  background: linear-gradient(
    to bottom,
    var(--color-beige) 0%,
    var(--color-screen) 100%
  );
  box-shadow: 0 1px 1px rgba(55, 54, 51, 0.2), 0 1px 0 rgba(255, 255, 255, 0.7),
    inset 0 1px 3px rgba(55, 54, 51, 0.15),
    inset 0 -1px 1px rgba(255, 255, 255, 0.7);
}

.btn:disabled,
.btn[aria-disabled="true"] {
  @apply opacity-60 cursor-not-allowed;
}

.panel {
  @apply bg-beige text-ink rounded-lg shadow-sm shadow-darkstone p-6 border-t-1 border-screen overflow-hidden;
  transition: background-color 0.5s ease-in-out;
}

.warning-stripes {
  background-image: repeating-linear-gradient(
    -45deg,
    #313130 0,
    #313130 10px,
    #f8cf30 10px,
    #f8cf30 20px
  );
}

.sticker {
  @apply px-3 py-1 text-xs font-bold text-ink bg-screen rounded-2xl uppercase shadow-sm;
  border: 1px solid #313130;
}
